Checks:
'-*,bugprone-*,cppcoreguidelines-*,google-*,misc-*,modernize-*,performance-*,readability-*,-modernize-use-trailing-return-type,
-modernize-redundant-void-arg, -readability-implicit-bool-conversion,
-bugprone-exception-escape'
FormatStyle: 'file'
